* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 374px;
    margin: 0px auto;
    padding: 10px;
}

.header {
    background-color: #dddddd;
}

header nav {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}