* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 374px;
    margin: 0px auto;
    padding: 10px;
}

.header {
    background-color: #dddddd;
}

header nav {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .top {
    background-color: #eeeeee;
}

main .circles {
    padding: 10px 0px 10px 28px;
    display: flex;
    gap: 18px;
}

main .circles div {
    background-color: #d9d9d9;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
}