* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: auto;
    margin: 0px 18px;
    padding: 10px;
}

.header {
    background-color: #dddddd;
}

header nav {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .top {
    background-color: #eeeeee;
}

main .circles {
    padding: 10px 0px 10px 28px;
    display: flex;
    gap: 18px;
}

main .circles div {
    background-color: #d9d9d9;
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
}



main .banner {
    background-color: #eeeeee;
    margin-top: 20px;
    height: 87px;
    border-radius: 16px;
}

main .slider {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

main .slider div {
    background-color: #eeeeee;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

main .slider .selected {
    background-color: #d9d9d9;
    width: 69px;
    border-radius: 24px;
}