* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 0px auto;
    padding: 0px 10px;
    max-width: 1372px;
}

header {
    background-color: #dddddd;
    padding: 26px 0px;
}

header .headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    margin-left: 16px;
}

main .top {
    background-color: #dddddd;
    padding-top: 160px;
    padding-bottom: 253px;
}

main .top .blackText {
    font-size: 86px;
    color: #1e1e1e;
}

main .top .grayText {
    font-size: 64px;
    color: #4e4e4e;
}