* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0px auto;
    padding: 0px 10px;
    max-width: 1372px;
}

header {
    background-color: #dddddd;
    padding: 26px 0px;
}