* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
}

header {
    background-color: #d9d9d9;
    padding-top: 180px;
    padding-bottom: 40px;
}

header .data {
    display: flex;
    justify-content: space-between;
}

header .logo {
    background-color: #eeeeee;
    width: 300px;
    height: 56px;
    border-radius: 8px;
}

header nav {
    display: flex;
}

header nav div {
    background-color: #eeeeee;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    gap: 10px
}

main .grid {
    margin: 100px 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

main .grid div {
    background-color: #eeeeee;
    min-width: 100px;
    min-height: 100px;
    border-radius: 16px;
}

main .image {
    grid-column: 2;
    grid-row: 1 / 4;
}

footer {
    background-color: #d9d9d9;
    height: 100px;
}