* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0px auto;
    padding: 10px;
}

header {
    background-color: #d9d9d9;
    padding-top: 180px;
}