* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter" ,sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0px auto;
    padding: 10px;
}

header {
    background-color: #d9d9d9;
    padding-top: 180px;
}

header nav {
    padding-bottom: 40px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

header nav div {
    background-color: #eeeeee;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

main {
    margin-top: 36px;
}

main .content {
    display: flex;
}

main .profile {
    height: 555px;
    border-right: 2px solid #f0f0f0;
    flex-grow: 1;
}


main .profile .info {
    margin: -150px auto 0px;
    width: 226px;
    height: 226px;
}

main .info .pic {
    background-color: #eeeeee;
    width: 226px;
    height: 226px;
    margin-bottom: 22px;
    border-radius: 16px;
}

main .info h1 {
    font-size: 30px;
    margin-top: 8px;
}

main .info .name {
    font-weight: 700;
}

main .info .phone {
    font-weight: 400;
}

main .gallery {
    flex-grow: 10;
    padding-left: 42px;
    height: 720px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 32px;
}

main .gallery div {
    background-color: #eeeeee;
    border-radius: 16px;
}

main .gallery .one {
    grid-column: 1 / 4;
    grid-row: 1;
}

main .gallery .two {
    grid-column: 8 / 10;
    grid-row: 1;
}

main .gallery .three {
    grid-column: 1 / 10;
    grid-row: 2 / 5;
}

main .gallery .four {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}

main .gallery .five {
    grid-column: 4 / 10;
    grid-row: 5 / 7;
}

main .gallery .six {
    grid-column: 1 / 10;
    grid-row: 7 / 10;
}